.current {
  position: relative;
  text-align: right;
  &__title {
    padding-bottom: var(--pad-1);
    padding-left: var(--pad-3);
    max-width: 480px;

    color: var(--blue);

    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__date {
    padding-bottom: var(--pad-1);

    color: var(--black);
  }
  &__temperature {
    padding-bottom: calc(var(--pad-3) + 5px);

    color: var(--black);
    font-size: 37px;
  }
  #current-emoji {
    font-size: 45px;
  }
  .temp-converter {
    float: right;
  
    display: none;
  
    border: var(--border-1);
    border-radius: var(--br-1);
  
    background-color: var(--white);
    font-size: 14px;
  
    button {
      padding: calc(var(--pad-1)/2);
      border: none;
      background-color: transparent;
      font-size: inherit;
      font-family: inherit;
      color: inherit;
      cursor: pointer;
    }
  }
}