.forecast {
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--sm);
  }
  
  &__card {
    padding: var(--sm) var(--md);
    border: var(--border-2);
    border-radius: var(--br-1);

    background-color: var(--cream);
  }
  &__date {
    padding-bottom: var(--sm);
    font-size: 14px;
    text-align: center;
  }
  &__emoji {
    padding-bottom: var(--sm);
    text-shadow: var(--text-shadow);
    text-align: center;
    font-size: 40px;
  }
  &__temperature {
    font-weight: bold;
  }
}