.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--xmd);

    margin: var(--lg) 0;
    padding: var(--xmd) var(--lg);
    max-width: 650px;

    background-color: white;
    border: var(--border-1);
    border-radius: var(--br-1);
  }
  // .section { }
}

.searcher {
  border: var(--border-1);
  border-radius: var(--br-1);

  &__container form {
    display: flex;
    justify-content: space-between;
  }
  &__input {
    padding: var(--sm);
    color: var(--black);
    font-family: inherit;
    font-size: 16px;
    text-align: left;
  }
  &__submit {
    width: 35px;
    height: 35px;
    padding: 0 0 3px;
    border-radius: 50%;

    background-color: var(--primary);

    font-size: 19px;
    cursor: pointer;
  }
}