@import './components/_Header';
@import './components/_Footer';
@import './components/_Weather';
@import './components/_Current';
@import './components/_Forecast';

// Dynamic variables
:root {
  --sm: 5px;
}
.wrapper {
  &__container {
    min-height: 100vh;
    --grid-template-columns: 20px 1fr 20px;
  }
}

@media only screen and (min-width: 860px) {
  .wrapper {
    &__container {
      --grid-template-columns: 100px 1fr 100px;
    }
  }
  :root {
    --sm: 10px;
  }
}

:root {
  --md: calc(var(--sm)*1.618);
  --xmd: calc(var(--md)*1.618);
  --lg: calc(var(--xmd)*1.618);
  --xlg: calc(var(--lg)*1.618);
  --primary: #51BECD;
  --second: #c95195;
  --black: #2c2627;
  --grey: #dddbcb;
  --cream: #f3f1e3;
  --white: #fff;
  --br-1: 5px;
  --border-1: 3px solid var(--primary);
  --border-2: 3px solid var(--second);
  --text-shadow: 3px 2px 3px var(--grey);
}

body {
  
  color: var(--black);
  background-color: var(--cream);
  
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.wrapper {
  &__container {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "header header header"
      "...... main   ......"
      "footer footer footer"
  }
}